body {
  text-align: center;
  background-color: #011F3F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin:  5%;
  color: #FEF2BF;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0%;
  width: 50%;
  margin: auto;

}

.btn {
  aspect-ratio: 1/1;
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.box{
  margin: 6%;
  border-color: lightblue;
  border-width: 6px;
  border-radius: 20px;
  height: 70%;
  width: 20%;
}

@media (max-width: 480px) {
  .container {
    gap: 12px;
  }
}

